@define-color color1 #ab0567;

GtkWindow {
    background-color: Wheat1;
}

.label_Main {
    color: @color1;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 16px;
}

.btminus GtkLabel {
    background-color: red;
    color: cyan;
    border: 1px solid cyan;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
}

.btminus:hover GtkLabel {
    background-color: DarkSalmon;
    color: cyan;
    border: 1px solid red;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
}

.btminus:active GtkLabel {
    background-color: cyan;
    color: red;
    border: 1px solid red;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
}

.btplus GtkLabel {
    background-color: blue;
    color: yellow;
    border: 1px solid yellow;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
}

.btplus:hover GtkLabel {
    background-color: SteelBlue3;
    color: yellow;
    border: 1px solid blue;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
}

.btplus:active GtkLabel {
    background-color: yellow;
    color: blue;
    border: 1px solid blue;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
}
